{% extends 'main/base.html' %}

{% block title %}Reset done{% endblock %}

{% block content %}

<body id="resetPwd" class="unselectable">
    <div class="col-12 col-sm-9 col-lg-6 col-xl-6 mx-auto my-5">
        <div class="card-login-register p-5">
            <div class="form-group">
                <h1 class="text-center mb-5 neon-h1">Reset done</h1>
                <div class="text-start">
                    <p class="lead text-center my-3">
                        We've emailed you instructions for setting your password, if an account exists with the email you entered.
                        You should receive them shortly.
                    </p>
                    <hr>
                    <p class="lead text-center my-3">
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>
                </div>
                <div class="my-3 text-center">
                    <a href="{% url 'main:index' %}" type="button" class="btnLogReg mt-4">Index</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}