{% extends 'main/base.html' %}
{% load static %}
{% block title %}Reset password{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
{% endblock %}

{% block content %}

<body id="resetPwd" class="unselectable">
    <div class="col-12 col-sm-9 col-lg-6 col-xl-6 mx-auto my-5">
        <div class="card-login-register p-5">
            <h1 class="text-center mb-5 neon-h1">Reset password</h1>
            <form method="post" class="row" id="pwdResetForm">
                {% csrf_token %}
                <div class="form-group">
                    {% if validlink %}
                    <div class="form-outline mb-4 col-md-8 mx-auto">
                        <input type="password" name="new_password1" class="form-control form-control-lg" placeholder="Enter New Password" autofocus autocomplete="new-password" required="" id="id_new_password1">
                    </div>
                    <div class="form-outline mb-4 col-md-8 mx-auto">
                        <input type="password" name="new_password2" class="form-control form-control-lg" placeholder="Repeat New Password" autocomplete="new-password" required="" id="id_new_password2">
                    </div>
                    <div class="text-start col-8 mx-auto">
                        {% for help in form %}
                        {{ help.help_text }}
                        {% endfor %}
                    </div>
                    {% else %}
                    <p class="text-start">
                        The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                    </p>
                    <div>
                        <a class="btnLogReg my-3" type="buton" href="{% url 'main:index' %}">Return to Home page</a>
                    </div>
                    {% endif %}
                </div>
                {% if validlink %}
                <div class="text-center">
                    <a class="btnLogReg my-3" type="button" onclick="document.getElementById('pwdResetForm').submit();">Reset password</a>
                </div>
                <div class="col-md-12 text-center py-2 errors">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <p>{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                    <p>{{ form.non_field_errors }}</p>
                    {% endif %}
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</body>
{% endblock %}