{% extends 'main/base.html' %}
{% block title %}Reset password{% endblock %}
{% block content %}

<body id="resetPwd" class="unselectable">
    <div class="col-12 col-sm-9 col-lg-6 col-xl-6 mx-auto my-5">
        <div class="card-login-register p-5">
            <h1 class="text-center mb-5 neon-h1">Reset password</h1>
            <form method="post" class="row" id="pwdResetForm">
                {% csrf_token %}
                <div class="form-outline mb-4 col-md-12 w-100">
                    {{ form.email }}
                </div>
                <div class="text-center">
                    <button class="btnLogReg my-3" onclick="document.getElementById('pwdResetForm').submit();">Send reset email</button>
                </div>
                <input type="submit" hidden>
                <div class="col-md-12 mt-4 text-start error">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <p>{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% if form.non_field_errors %}
                    <p>{{ form.non_field_errors }}</p>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}