{% extends 'main/base.html' %}
{% load static %}
{% block title %}Reset done{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
{% endblock %}
{% block content %}

<body id="resetPwd" class="unselectable">
    <div class="col-12 col-sm-9 col-lg-6 col-xl-6 mx-auto my-5">
        <div class="card-login-register p-5">
            <div class="form-group">
                <h1 class="text-center mb-5 neon-h1">Password reset complete</h1>
                <p class="lead text-center my-4">
                    Your password has been set. You may go ahead and log in now.
                </p>
                <div class="text-center mt-4">
                    <a href="{% url 'account:login' %}" class="btnLogReg" type="button">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}