{% extends 'main/base.html' %}
{% block title %}Analytics{% endblock%}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-11 mx-auto my-5 text-center ">
                <h3 class="pb-3"><b>Receipts</b></h3>
                <table class="table table-light table-hover text-center align-middle" id="dtVerticalScrollExampleAnalytics">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Total spent [HRK]</th>
                            <th scope="col">Total spent [EUR]</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for receipt in receipts %}
                        <tr>
                            <td>{{ receipt.account }}</td>
                            <td>{{ receipt.getTotalSpent }}</td>
                            <td>{{ receipt.getTotalSpentEUR }}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Total spent</th>
                        </tr>
                    </tfoot>

                </table>
                <script>

                    $(document).ready(function () {
                        $('#dtVerticalScrollExampleAnalytics').DataTable({
                            "scrollY": "600px",
                            "scrollCollapse": true,
                        });
                        $('.dataTables_length').addClass('bs-select');
                    });
                </script>

            </div>
        </div>
    </div>
</div>
{% endblock%}