{% extends 'main/base.html' %}
{% block title %}Profile{% endblock%}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="col-11 mx-auto my-5 text-center">
                <h3 class="pb-3"><b>User - {{request.user}}</b></h3>
                <a class="btn btn-dark mb-4" href="{% url 'account:editAccount' user.id %}"><i class="fa-solid fa-user-pen"></i>&nbsp;Edit profile</a>
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4>First name</h4>
                            <p>{{ user.first_name }}</p>
                            <h4>Last name</h4>
                            <p>{{ user.last_name }}</p>
                            <h4>Username </h4>
                            <p>{{ user.username }}</p>
                            <h4>Email</h4>
                            <p>{{ user.email }}</p>
                        </div>
                    </div>
                </div>
            
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-11 mx-auto my-5 text-center">
                <h3 class="pb-3"><b>Receipts</b></h3>

                <table class="table table-light table-hover text-center align-middle" id="dtVerticalScrollExample">
                    <thead>
                        <tr>
                            <th scope="col">Receipt #</th>
                            <th scope="col">Cart</th>
                            <th scope="col">Time</th>
                     
                        </tr>
                    </thead>
                    <tbody>
                        {% for receipt in receipts %}
                        <tr>
                            <td>{{ receipt.receiptNumber }}</td>
                            <td>{{ receipt.cart }}</td>
                            <td>{{ receipt.time }}</td>


                        </tr>

                        {% endfor %}
                    </tbody>
                
                    
                </table>
                <script>
                     $(document).ready(function () {
                    $('#dtVerticalScrollExample').DataTable({
                      "scrollY": "200px",
                      "scrollCollapse": true,
                    });
                    $('.dataTables_length').addClass('bs-select');
                  });
                </script>
               
            </div>
        </div>  
    </div>
</div>
{% endblock%}