{% load static %}
<div class="commentsBody">
    <div class="row">
        <!-- <div class="input-group mb-3">
            <button class="btn btn-info btn-sm" onClick="clearTextarea()" id="resetCommentBtn">
                <i class="fa-solid fa-broom"></i>&nbsp;&nbsp;Clear
            </button>
            <input type="text" id="commText" class="form-control py-1 px-3" placeholder="Your comment" onkeyup="checkForWhitespace()"></input>
            <button class="btn btn-info btn-sm" disabled id="addCommentBtn">
                <i class="fa-solid fa-comment-dots"></i>&nbsp;&nbsp;Submit
            </button>
        </div> -->
        <div class="col-md-12 mt-2 mb-4 text-center">
        </div>
        <script>
            function checkForWhitespace() {
                if (document.getElementById("commText").value === "" || !$("#commText").val().replace(/\s/g, '').length) document.getElementById('addCommentBtn').disabled = true;
                else document.getElementById('addCommentBtn').disabled = false;
            }

            function clearTextarea() {
                $("#commText").val("");
                checkForWhitespace();
            }

            function deleteComment(data) {
                    $.ajax({
                        url: "{% url 'main:deleteComment' %}",
                        type: "POST",
                        data: {
                            "id": data,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        cache: false,
                        dataType: "json",
                        success: function () {
                            table.row("#productRow-{{ product.id }}").remove().draw();
                            table.draw();
                        }
                    });
                }

            $("#addCommentBtn").click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "{% url 'main:createComment' product.id %}",
                    data: {
                        description: $("#commText").val(),
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        dataType: "json",
                    },
                    success: function (data) {
                        clearTextarea();
                        $("#allComments").append(
                           ' <div class="row m-2 comment border" id="detailBlogComment-{{ comment.id }}">'+
                            '<div class="col-md-8 text-start py-2 px-4">'+
                           ' <span><i><b>{{ comment.account }}</b></i></span>'+
                            'says:'+
                            '</div>'+
                            '<div class="col-md-9">'+
                            '<p class="text-dark text-start p-2" id="appCommBody">{{ comment.description }}</p>'+
                           ' </div>'+
                            '<div class="col-md-3">'+
                                '<button class="btn btn-outline-danger"  onclick=deleteComment(' + row["pk"] + ')><i class="fa-solid fa-circle-minus"></i></button>'+
                           ' </div>'+
                            '</div>');
                        $("#commentCount").html($(".comment").length + " comments");
                        
                    },
                    failure: function () { },
                });
            });
        </script>
    </div>
</div>