{% extends 'main/base.html' %}
{% block content %}

<!-- <body id="postDetail" class="unselectable">
    <div class="col-12 col-sm-9 col-lg-6 col-xl-6 mx-auto my-5">
        <div class="card-login-register p-5">
            <h1 class="text-center mb-5 neon-h1">Edit product - {{ product.title }}</h1>
            <form method="post" class="w-100" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-outline my-3">
                    <h4>Title</h4>
                    <input class="form-control" type="text" name="title" id="id_title" placeholder="Title"
                        maxlength="50" value="{{form.initial.title}}" required autofocus>
                </div>
                <div class="form-outline my-3">
                    <h4>Quantity</h4>
                    <input class="form-control" type="number" name="quantity" id="id_quantity"
                        value="{{ form.initial.quantity }}" required>
                </div>
                <div class="form-outline my-3">
                    <h4>Collection</h4>
                    <input class="form-control" type="text" name="collection" id="id_collection"
                        placeholder="Collection" maxlength="80" value="{{form.initial.getCollection}}" required>
                </div>
                <div class="form-outline my-3">
                    <h4>Brand</h4>
                    <input class="form-control" type="text" name="brand" id="id_brand" placeholder="Brand"
                        maxlength="80" value="{{form.initial.brand}}" required>
                </div>
                <div class="form-outline my-3">
                    <h4>Type</h4>
                    <input class="form-control" type="text" name="type" id="id_type" placeholder="Type" maxlength="80"
                        value="{{form.initial.getType}}" required>
                </div>
                <div class="form-outline my-3">
                    <h4>Size</h4>
                    <input class="form-control" type="text" name="size" id="id_size" placeholder="Size" maxlength="80"
                        value="{{form.initial.getSize}}" required>
                </div>
                <div class="form-outline my-3">
                    <h4>Price</h4>
                    <input class="form-control" type="number" name="price" id="id_price" value="{{form.initial.price}}"
                        required>
                </div>
                <div class="form-outline my-3">
                    <h4>Flag</h4>
                    <input class="form-control" type="text" name="flag" id="id_flag" placeholder="Flag" maxlength="80"
                        value="{{form.initial.flag}}" required>
                </div>
                <div class="form-outline ">
                    <h4>Image</h4>
                    <div class="form-outline my-3 text-center" id="id_image_group">
                        <div class="middle">
                            <div class="text">Current image</div>
                        </div>
                        <img class="img-fluid image rounded w-25" src="{{form.initial.image.url}}"
                            id="id_image_display">
                    </div>
                    <input class="form-control" type="file" name="image" id="id_image_file" accept="image/*"
                        onchange="readURL(this)">
                </div>
                <div class="form-outline my-4 text-center">
                    <button class="btn btn-outline-success" type="submit">Update</button>
                    <button class="btn btn-outline-warning" type="reset">Reset</button>
                    <a href="{% url 'main:products'%}" class="btn btn-outline-info">Back</a>
                </div>
                {% for field in form %}
                <p>
                    {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                {% if form.non_field_errors %}
                <div style="color: red">
                    <p>{{form.non_field_errors}}</p>
                </div>
                {% endif %}
            </form>
        </div> -->

<body id="editProduct">
    <div class="col-12 col-md-12 col-lg-10 col-xl-8 mx-auto my-5 p-3">
        <div class="card-login-register p-5">
            <h1 class="text-center mb-5">Edit product - {{ product.title }}</h1>
            <form method="post" class="row">
                {% csrf_token %}
                <h3 class="mb-4">Product Info</h3>
                <div class="row">
                    {% include './includes/productInfo.html' %}
                </div>
                <script type="text/javascript">
                    document.getElementById('id_image_group').onclick = function (event) {
                        document.getElementById('id_image_file').click();
                    };
        
                    function readURL(input) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#id_image_display')
                                .attr('src', e.target.result)
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                </script>
                <div class="form-outline my-4 text-center">
                    <button class="btn btn-outline-success" type="submit">Update</button>
                    <button class="btn btn-outline-warning" type="reset">Reset</button>
                    <a href="{% url 'main:products'%}" class="btn btn-outline-info">Back</a>
                </div>
                {% for field in form %}
                <p>
                    {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
                </p>
                {% endfor %}
                {% if form.non_field_errors %}
                <div style="color: red">
                    <p>{{form.non_field_errors}}</p>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</body>

        <script type="text/javascript">
            document.getElementById('id_image_group').onclick = function (event) {
                document.getElementById('id_image_file').click();
            };

            function readURL(input) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#id_image_display')
                        .attr('src', e.target.result)
                };
                reader.readAsDataURL(input.files[0]);
            }
        </script>
    <!-- </div>
</body> -->
{% endblock content %}