{% extends 'main/base.html' %}
{% block title %}
MDShop
{% endblock%}

{% block content %}




<div class="hero">
    <div class="container-fluid">
        <div class="hero-content p-5">
            <!-- Maybe add table in db with many quotes and display different one every day? -->
            <div class="col-md-12">
                <h2>Live fashion!</h2>
            </div>
            <div class="col-md-12">
                <h5>Quote of the day:</h5>
                <h1>"Fashion is the armor to survive the reality of everyday life." - Bill Cunningham</h1>
            </div>
        </div>
    </div>
</div>






<div class="row col-md-12">

    {% for product in products %}
    {% if product.getFlag != 'NONE' and product.quantity > 0 %}
    <div class="col-12 col-md-6  col-lg-3 mt-2 mx-auto p-5">
        <div class="card text-center">
            <p class="flag">{{ product.getFlag }}</p>
            <img src="{{ product.front_image.url }}" alt="{{ product.title }}" id="image-{{ product.id }}" class="img-fluid border-bottom cardImg">
            <script>
                $("#image-{{ product.id }}").hover(function () {
                    $(this).attr("src", "{{ product.back_image.url }}");
                }, function () {
                    $(this).attr("src", "{{ product.front_image.url }}");
                });
            </script>
            <div>
                <h2 class="p-2 text-uppercase">{{ product.title }}</h3>
                    <h4 class=""> {{ product.brand }}</h5>
            </div>
            <div class="card-body mx-auto">
                <p><b>{{ product.price }} kn | {{ product.getPriceInEUR }} EUR</b></p>
                <p>{{ product.getSize }} - {{ product.size }}</p>
                <p> {{ product.getType }}</p>

                <div class="row">
                    {% if request.user.is_authenticated %}
                    {% include './includes/cartManagment.html' %}
                    {% endif %}
                    <a class="btnDetails mt-2" href="{% url 'main:productDetail' product.id %}">
                        <i class="fa-solid fa-circle-info"></i>&nbsp;Info</a>
                </div>
            </div>
        </div>
    </div>
    {% endif%}
    {% endfor %}
</div>

{% endblock%}