{% extends 'main/base.html' %}
{% block title %}Products{% endblock%}

{% block content %}
<div class="container-fluid">
    <div class="col-12">
        <div class="col-11 mx-auto my-5 text-center">
            <h3 class="pb-3"><b>Products</b></h3>
            <a class="btn btn-dark mb-4" href="{% url 'main:addProduct' %}"><i class="fa-solid fa-circle-plus"></i>&nbsp;Add Product</a>
            <table class="table table-light table-hover text-center align-middle" id="productsTable">
                <thead>
                    <tr>
                        <th class="text-center">Image</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Brand</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Size</th>
                        <th class="text-center">Collection</th>
                        <th class="text-center">Flag</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>

            </table>
            <script>
                let table;

                function deleteProduct(data) {
                    $.ajax({
                        url: "{% url 'main:deleteProduct' %}",
                        type: "POST",
                        data: {
                            "id": data,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        cache: false,
                        dataType: "json",
                        success: function () {
                            table.row("#productRow-{{ product.id }}").remove().draw();
                            table.draw();
                        }
                    });
                }

                function editProduct(data) {
                    $.ajax({
                        url: "{% url 'main:editProduct' 1 %}",
                        type: "POST",
                        data: {
                            "id": data,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        cache: false,
                        dataType: "json",
                        success: function () {
                            table.row("#productRow-{{ product.id }}").remove().draw();
                            table.draw();
                        }
                    });
                }

                String.prototype.replaceAt = function (index, replacement) {
                    return this.substring(0, index) + replacement + this.substring(index + replacement.length);
                }

                function visitEditProduct(data) {
                    window.location.assign("/edit_product/" + data);
                }

                $(document).ready(function () {
                    table = $('#productsTable').DataTable({
                        processing: true,
                        serverSide: true,
                        ajax: {
                            type: "GET",
                            datatype: 'json',
                            url: 'products/json',
                        },
                        success: function (data) {
                            console.log(data);
                        },
                        columns: [
                            {
                                data: "image", render: function (data, type, row, meta) {
                                    return '<script>' +
                                        '$("#imageProducts-' + row["pk"] + '").hover(function () {' +
                                        '$(this).attr("src", "' + row["back_image"] + '");' +
                                        '}, function () {' +
                                        '$(this).attr("src", "' + row["front_image"] + '");' +
                                        '});' +
                                        '<\/script>' +
                                        '<a><img src="' + row["front_image"] + '" id="imageProducts-' + row["pk"] + '" alt="' + row["title"] + '" class="cartImage"></a>'
                                }
                            },
                            { "data": "title" },
                            { "data": "brand" },
                            { "data": "price" },
                            { "data": "type" },
                            { "data": "quantity" },
                            { "data": "size" },
                            { "data": "collection" },
                            { "data": "flag" },
                            {
                                data: "id", render: function (data, type, row, meta) {
                                    return '<button onclick=visitEditProduct(' + row["pk"] + ') class="btn btn-outline-info"><i class="fa-solid fa-pen-to-square text-dark"></i></button>' +
                                        '<button onclick=deleteProduct(' + row["pk"] + ') class="btn btn-outline-danger" id="removeProduct-' + row["pk"] + '"><i class="fa-solid fa-ban text-dark"></i></button>';
                                }
                            },

                        ],
                    });
                });
            </script>
        </div>
    </div>
</div>


{% endblock%}