{% extends 'main/base.html' %}
{% block title %}
{{product.title}}
{% endblock%}
{% block content %}



<div class="hero">
    <div class="container-fluid">
        <div class="hero-content p-5">

            <div class="col-md-12">
                <h3>Live fashion!</h3>
            </div>
            <div class="col-md-12">
                <h1>"Fashion is the armor to survive the reality of everyday life." - Bill Cunningham</h1>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="row col-md-{% if request.user.is_authenticated %}9 {% else %}12 {%endif%}">
        <div class="card">


            <div class="col p-2 text-center">
                <p class="flag">{{product.getFlag}}</p>
               <img src="{{ product.front_image.url }}" alt="{{ product.title }}" id="image-{{ product.id }}" class="img-fluid border-bottom detailImg">
            <script>
                $("#image-{{ product.id }}").hover(function () {
                    $(this).attr("src", "{{ product.back_image.url }}");
                }, function () {
                    $(this).attr("src", "{{ product.front_image.url }}");
                });
            </script>
                <h2 class="p-2 text-uppercase">{{ product.title }}</h2>
                <h5 class="pb-2"><b>Price: {{ product.price }}kn</b></h5>
                <h5 class="pb-2">Size: {{ product.getSize }}</h5>
                <h5 class="pb-2">Gender: {{ product.getType }}</h5>
                <h5 class="pb-2">Brand: <i>{{ product.brand }}</i> </h5>
                <h5>Collection: {{ product.getCollection }}</h5>

            </div>


            <div class="col  text-center ">
                <div class="card-body mx-auto">


                    <div class="row p-2">
                        {% if request.user.is_authenticated %}
                        {% include './includes/cartManagment.html' %}
                        {% endif %}

                        <a class="btn btn-outline-info mt-2" href="{% url 'main:index' %}"><i class="fa-solid fa-arrow-left-long"></i>&nbsp;Back</a>
                    </div>


                </div>
            </div>

        </div>
    </div>


    <div class="{% if request.user.is_authenticated %}col-3 {% else %}d-none {%endif%} pe-3 text-dark text-start bg-white" id="scrollIt" id="postComments">
        <div class="commentsBod ">
            <div class="input-group mb-3 sticky-top">
                <button class="btn btn-info btn-sm" onClick="clearTextarea()" id="resetCommentBtn">
                    <i class="fa-solid fa-broom"></i>&nbsp;&nbsp;Clear
                </button>
                <input type="text" id="commText" class="form-control py-1 px-3" placeholder="Your comment" onkeyup="checkForWhitespace()"></input>
                <button class="btn btn-info btn-sm" disabled id="addCommentBtn">
                    <i class="fa-solid fa-comment-dots"></i>&nbsp;&nbsp;Submit
                </button>
            </div>
            <div id="allComments">
                {% for comment in comments %}
                <div class="row m-2 comment border" id="detailBlogComment-{{ comment.id }}">
                    <div class="col-md-8 text-start py-2 px-4">
                        <span><i><b>{{ comment.account }}</b></i></span>
                        says:
                    </div>
                    <div class="col-md-9">
                        <p class="text-dark text-start p-2" id="appCommBody">{{ comment.description }}</p>
                    </div>
                    {% if request.user.is_superuser or request.user == comment.account %}
                    <div class="col-md-3">
                        <a class="btn btn-outline-danger" href="{% url 'main:deleteComment' comment.id %}"><i class="fa-solid fa-circle-minus"></i></a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% include './createComment.html' %}
    </div>
</div>

{% endblock %}