{% extends 'main/base.html' %}
{% block title %}
Products
{% endblock%}

{% block content %}


<div class="container-fluid">
  <div class="col-12">
    <div class="col-11 mx-auto my-5 text-center">
      <a class="btn btn-dark mb-4" href="{% url 'main:addProduct' %}"><i class="fa-solid fa-circle-plus"></i>&nbsp;Add Product</a>
      <table class="table table-light table-hover text-center align-middle" id="productsTable">
        <thead>
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Brand</th>
            <th class="text-center">Price</th>
            <th class="text-center">Type</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Size</th>
            <th class="text-center">Collection</th>
            <th class="text-center">Flag</th>
            <th class="text-center">Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          {% include './includes/singleProductTableRow.html' %}
          {% endfor %}

        </tbody>
      </table>
      <script>
        $(document).ready(function () {
          $('.dataTables_length').addClass('bs-select');
          $("#productsTable_filter>label>input").attr("placeholder", "Type here to search");
        });
      </script>
    </div>
  </div>
</div>
</div>

{% endblock%}