{% extends 'main/base.html' %}
{% block title %}
{{product.title}}
{% endblock%}
{% block content %}



<div class="hero">
    <div class="container-fluid">
        <div class="hero-content p-5">

            <div class="col-md-12">
                <h3>Live fashion!</h3>
            </div>
            <div class="col-md-12">
                <h1>"Fashion is the armor to survive the reality of everyday life." - Bill Cunningham</h1>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="row col-md-{% if request.user.is_authenticated %}9 {% else %}12 {%endif%}">
        <div class="card">
            

                <div class="col p-5 text-center ">
                    <p class="flag">{{product.getFlag}}</p>
                    <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid border">
                    <h2>{{ product.title }}</h2>
                    <h5><b>{{ product.price }}kn</b></h5>
                    <h5>{{ product.getSize }}</h5>
                    <h5> {{ product.getType }}</h5>
                    <h5> <i>{{ product.brand }}</i> </h5>
                    <h5>{{ product.getCollection }}</h5>
                    
                </div>


                <div class="col p-5 text-center ">
                    <div class="card-body mx-auto">
                        
                        
                        <div class="row p-2">
                            {% if request.user.is_authenticated %}
                            {% include './includes/cartManagment.html' %}
                            {% endif %}
                            
                            <a class="btn btn-outline-info" href="{% url 'main:index' %}"><i class="fa-solid fa-arrow-left-long"></i>&nbsp;Back</a>
                        </div>
                       

                    </div>
                </div>
            
        </div>
    </div>


    <div class="{% if request.user.is_authenticated %}col-3 {% else %}d-none {%endif%} pe-3 text-dark text-start bg-white"
        id="postComments">
        <div class="commentsBod ">
            <div id="allComments">
                {% for comment in comments %}
                <div class="row m-2 comment border" id="detailBlogComment-{{ comment.id }}">
                    <div class="col-md-8 text-start py-2 px-4">
                        <span><i><b>{{ comment.account }}</b></i></span>
                        says:
                    </div>
                    <div class="col-md-9">
                        <p class="text-dark text-start p-2" id="appCommBody">{{ comment.description }}</p>
                    </div>
                    {% if request.user.is_superuser or request.user == comment.account %}
                    <div class="col-md-3">
                        <a class="btn btn-outline-danger" href="{% url 'main:deleteComment' comment.id %}"><i class="fa-solid fa-circle-minus"></i></a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% include './createComment.html' %}
    </div>
</div>

{% endblock %}