{% extends 'main/base.html' %}
{% block title %}
Users
{% endblock%}

{% block content %}

<div class="container-fluid">
	<div class="col-12">
		<div class="col-11 mx-auto my-5">
			<table id="example" class="table table-light table-hover text-center align-middle">
				<thead>
					<tr>
						<th class="text-center">First Name</th>
						<th class="text-center">Last Name</th>
						<th class="text-center">Username</th>
						<th class="text-center">Email</th>
						<th class="text-center">Admin</th>
						<th class="text-center">Street Name</th>
						<th class="text-center">Street Number</th>
						<th class="text-center">City</th>
						<th class="text-center">Postal Code</th>
						<th class="text-center">Country</th>
						<th class="text-center">Edit</th>
					</tr>
				</thead>
				<tbody>
					{% for account in accounts %}
					{% include './includes/singleUserRow.html' %}
					{% endfor %}
				</tbody>
				<tfoot>
				</tfoot>
			</table>
			<script>
				$(document).ready(function () {
					$('.dataTables_length').addClass('bs-select');
					$("#example_filter>label>input").attr("placeholder", "Type here to search");
				});
			</script>
		</div>
	</div>
</div>
{% endblock%}