{% extends 'main/base.html' %}
{% block title %}
Users
{% endblock%}

{% block content %}

<div class="container-fluid">
  <div class="row text-center">
    <div class="mx-auto p-5 my-5" style="background-color:darkgrey;">
      <h3 class="pb-3"><b>User accounts</b></h3>
      <div class="table-responsive">
        <table class="table table-striped" id="tablica">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Country</th>
              <th scope="col">City</th>
              <th scope="col">Street Name</th>
              <th scope="col">Street Number</th>            
              <th scope="col">Postal Code</th>
              <th scope="col">Admin</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts %}
            <tr>
            <td>{{ account.first_name}}</td>
            <td>{{ account.last_name}}</td>
            <td>{{ account.username}}</td>
            <td>{{ account.email}}</td>
            <td>{{ account.country}}</td>
            <td>{{ account.city}}</td>
            <td>{{ account.street_name}}</td>
            <td>{{ account.street_number}}</td>
            <td>{{ account.postal_code}}</td>
            <td>{{ account.is_superuser}}</td>
            <td><a href="{% url 'account:editAccount' account.id %}" class="btnCardLeft">Edit</a>
                <a href="{% url 'account:deleteAccount' account.id %}" class="btnCardRight">Delete</a>
                </td>
            
          </tr>

            {% endfor %}

          </tbody>
        </table>
      </div>



    </div>
  </div>
</div>












{% endblock%}