{% extends 'main/base.html' %}
{% block title %}Users{% endblock%}

{% block content %}

<div class="container-fluid">
	<div class="col-12">
		<div class="col-11 mx-auto my-5 text-center">
			<h3 class="pb-3"><b>Users</b></h3>
			<table id="usersDatatable" class="table table-light table-hover text-center align-middle">
				<thead>
					<tr>
						<th class="text-center">First Name</th>
						<th class="text-center">Last Name</th>
						<th class="text-center">Username</th>
						<th class="text-center">Email</th>
						<th class="text-center">Admin</th>
						<th class="text-center">Street Name</th>
						<th class="text-center">Street Number</th>
						<th class="text-center">City</th>
						<th class="text-center">Postal Code</th>
						<th class="text-center">Country</th>
						<th class="text-center">Actions</th>
					</tr>
				</thead>
			</table>
			<script>
				let table;

				function deleteUser(data) {
					$.ajax({
						url: "{% url 'account:deleteAccount' %}",
						type: "POST",
						data: {
							"id": data,
							csrfmiddlewaretoken: '{{ csrf_token }}',
						},
						cache: false,
						dataType: "json",
						success: function () {
							table.row("#userRow-{{ account.id }}").remove().draw();
							table.draw();
						}
					});
				}

				String.prototype.replaceAt = function (index, replacement) {
					return this.substring(0, index) + replacement + this.substring(index + replacement.length);
				}

				function visitEditAccount(data) {
					window.location.assign("/edit_account/" + data);
				}

				$(document).ready(function () {
					table = $('#usersDatatable').DataTable({
						processing: true,
						serverSide: true,
						ajax: {
							type: "GET",
							datatype: 'json',
							url: 'users/json/',
						},
						success: function (data) {
							console.log(data);
						},
						columns: [
							{ "data": "first_name" },
							{ "data": "last_name" },
							{ "data": "username" },
							{ "data": "email" },
							{
								data: "is_admin", render: function (data, type, row, meta) {
									if (row["is_admin"] == true) {
										return '<i class="fa-solid fa-circle-check text-success"></i>';
									} else {
										return '<i class="fa-solid fa-circle-xmark text-danger"></i>'
									}

								}
							},
							{ "data": "address.street_name" },
							{ "data": "address.street_number" },
							{ "data": "address.city" },
							{ "data": "address.postal_code" },
							{ "data": "address.country" },
							{
								data: "id", render: function (data, type, row, meta) {
									var currUser = "{{ request.user.id }}";
									var editButton = '<button onclick=visitEditAccount(' + row["pk"] + ') class="btn btn-outline-info"><i class="fa-solid fa-pen-to-square text-dark"></i></button>&nbsp;';
									var delButton = '<button onclick=deleteUser(' + row["pk"] + ') class="btn btn-outline-danger" id="removeUser-' + row["pk"] + '"><i class="fa-solid fa-user-xmark text-dark"></i></button>';
									return currUser == row["pk"] ? editButton : editButton + delButton;

								}
							},

						],
					});
				});
			</script>
		</div>
	</div>
</div>
{% endblock%}