{% extends 'main/base.html' %}
{% load static %}
{% block title %}Sign Up{% endblock %}


{% block content %}



<div class="row col-md-12">
    {% for product in products %}
    
    <div class="col-9 col-md-6  col-lg-3 mt-2 mx-auto p-5">
        <div class="card text-center">
            {% if  product.getFlag != 'NONE'%}
            <p class="flag">{{ product.getFlag }}</p>
            {%else%}
            <!-- Difference in size of the card is because of the flag above, have to fix it! -->
            {%endif%}
            <img src="{{ product.image.url }}" alt="{{ product.title }}" class="img-fluid">
            <div>
                <h2>{{ product.title }}</h3>
                <h4> {{ product.brand }}</h5>
            </div>
            <div class="card-body mx-auto">
                <p><b>{{ product.price }}kn</b></p>
                <p>{{ product.getSize }} - {{ product.size }}</p>
                <p> {{ product.getType }}</p>
                <div class="row">
                    {% if request.user.is_authenticated %}
                    {% include './includes/cartManagment.html' %}
                    {% endif %}
                    <a class="btnDetails" href="{% url 'main:productDetail' product.id %}">
                        <i class="fa-solid fa-circle-info"></i>&nbsp;Info
                    </a>
                    
                </div>
                </ul>
            </div>
        </div>
    </div>
    
    {% endfor %}
</div>







{% endblock content %}