
    <button class="btn btn-outline-warning" id="btnCartManage-{{ product.id }}"></button>

<script>
    $(document).ready(function () {

        manageCart();

        function manageCart() {
            let isInCart;
            "{% for cartProduct in request.user.cart.product.all %}"
            "{{ cartProduct.id }}" == "{{ product.id }}" ? isInCart = true : false;
            "{% endfor %}"

            if (isInCart) {
                $("#btnCartManage-{{ product.id }}").removeClass("btnBuy").addClass("btn-outline-danger");
                $("#btnCartManage-{{ product.id }}").html('<i class="fa-solid fa-square-minus"></i>&nbsp;Remove');
            }
            else {
                $("#btnCartManage-{{ product.id }}").removeClass("btn-outline-danger").addClass("btnBuy");
                $("#btnCartManage-{{ product.id }}").html('<i class="fa-solid fa-circle-plus"></i>&nbsp; Buy now');
            }

            $("#btnCartManage-{{ product.id }}").click(function () {
                $.ajax({
                    url: "{% url 'main:manageCart' %}",
                    type: "POST",
                    data: {
                        "id": "{{ product.id }}",
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    cache: false,
                    dataType: "json",
                    success: function () {
                        isInCart = !isInCart;
                        if (isInCart) {
                            $("#btnCartManage-{{ product.id }}").removeClass("btnBuy").addClass("btn-outline-danger");
                            $("#btnCartManage-{{ product.id }}").html('<i class="fa-solid fa-square-minus"></i>&nbsp;Remove');
                        }
                        else {
                            $("#btnCartManage-{{ product.id }}").addClass("btnBuy").removeClass("btn-outline-danger");
                            $("#btnCartManage-{{ product.id }}").html('<i class="fa-solid fa-circle-plus"></i>&nbsp; Buy now');
                        }
                    }
                });
            });
        }
    })</script>