

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white sticky-bottom"
            style="background-color: #1c2331"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #00000033"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="https://web.facebook.com/marko.dankovic.12" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/dankovic_marko/" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/marko-dankovi%C4%87-1a4028247/" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/mdankovic2541" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">MDShop</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #80817f; height: 2px"
                  />
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta nulla deserunt eligendi in, inventore ipsa porro corporis. 
                Expedita reiciendis accusamus temporibus accusantium nulla laborum blanditiis commodi, voluptatum quis, rem amet?
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #80817f; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">MDBootstrap</a>
              </p>
              <p>
                <a href="#!" class="text-white">MDWordPress</a>
              </p>
              <p>
                <a href="#!" class="text-white">BrandFlow</a>
              </p>
              <p>
                <a href="#!" class="text-white">Bootstrap Angular</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #80817f; height: 2px"
                  />
              <p>
                <a href="https://github.com/mdankovic2541" class="text-white ">My Github</a>
              </p>
              <p>
                <a href="#!" class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #80817f; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> Poljanci, SB, CRO</p>
              <p><i class="fas fa-envelope mr-3"></i> marko.dankovic2541@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 095 506 94##</p>
              
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: #00000033"
           >
        © 2022 Copyright:
        <a class="text-white" href="https://github.com/mdankovic2541"
           >Marko Danković</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
  