{% for field in form %}
<div class="{% if field.name == 'collection' %}col-8{% elif field.name == 'quantity' or field.name == 'type' or field.name == 'flag' or field.name == 'year' %}col-4{% elif field.name == 'size' or field.name == 'price' %}col-12{% elif field.name == 'front_image' or field.name == 'back_image' %}col-6{% endif %}">
    <h5 class="{% if field.name == 'front_image' or field.name == 'back_image' %}text-center{% endif %} ms-2">
        {% if field.name == 'front_image' or field.name == 'back_image' %}<span class="text-small text-muted">Current</span>&nbsp;{% endif %}{{ field.label|title }}
    </h5>
    <div class="{% if field.name != 'front_image' and field.name != 'back_image' %}input-group mb-4{% endif %}">
        {% if field.name != 'front_image' and field.name != 'back_image' %}
        {{ field }}
        {% elif field.name == 'price' %}
        <span class="input-group-text">HRK</span>
        {% elif field.name == 'brand' and not isBranded %}
        <a href="{% url 'main:addBrand' %}" class="btn btn-success">Add</a>
        {% endif %}
    </div>
    {% if field.name == 'front_image' %}
    <div class="form-outline mb-4">
        <div class="form-outline mb-3 text-center" id="frontImageGroup">
            <img class="img-fluid image rounded w-25" src="{{form.initial.front_image.url}}" id="front_image_display">
        </div>
        <input class="form-control" type="file" name="front_image" id="front_image_file" accept="image/*" onchange="readURLFront(this)">
    </div>
    {% elif field.name == 'back_image' %}
    <div class="form-outline mb-4">
        <div class="form-outline mb-3 text-center" id="backImageGroup">
            <img class="img-fluid image rounded w-25" src="{{form.initial.back_image.url}}" id="back_image_display">
        </div>
        <input class="form-control" type="file" name="back_image" id="back_image_file" accept="image/*" onchange="readURLBack(this)">
    </div>
    {% endif %}
    {% for error in field.errors %}
    <p class="my-2 text-danger">{{ error }}</p>
    {% endfor %}
</div>
{% endfor %}


<script type="text/javascript">
    document.getElementById('frontImageGroup').onclick = function (event) {
        document.getElementById('front_image_file').click();
    };

    function readURLFront(input) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#front_image_display')
                .attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0]);
    }

    document.getElementById('backImageGroup').onclick = function (event) {
        document.getElementById('back_image_file').click();
    };

    function readURLBack(input) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#back_image_display')
                .attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>