{% load static %}
<tr id="productRow-{{ product.id }}">
    <td>
        <a href="{% url 'main:productDetail' product.id %}"><img src="{{ product.front_image.url }}"
                alt="{{ product.title }}" id="imageCartProducts-{{ product.id }}" class="cartImage"></a>
        <script>
            $("#imageCartProducts-{{ product.id }}").hover(function () {
                $(this).attr("src", "{{ product.back_image.url }}");
            }, function () {
                $(this).attr("src", "{{ product.front_image.url }}");
            });
        </script>
    </td>
    <td>{{ product.title }}</td>
    <td>{{ product.getCollection }}</td>
    <td>{{ product.year }}</td>
    <td>{{ product.brand }}</td>
    <td>{{ product.getSize }}</td>
    <td>{{ product.getType }}</td>
    <td id="price-{{product.id}}"></td>
    <script>
        var price = parseFloat("{{ product.price }}");
        var priceInEur = parseFloat("{{ product.getPriceInEUR }}");
        var discounted = price * 0.9;
        var discountedEur = priceInEur * 0.9;
        "{% if request.user.points == 10 %}"
        $("#price-{{product.id}}").html(discounted.toFixed(2) + " HRK | " + discountedEur.toFixed(2) + " EUR");
        "{% else %}"
        $("#price-{{product.id}}").html(price.toFixed(2) + " HRK | " + priceInEur.toFixed(2) + " EUR");
        "{% endif %}"
    </script>
    <td>
        <a class="btn btn-outline-danger" id="removeProduct-{{ product.id }}"><i
                class="fa-solid fa-square-minus"></i>&nbsp;Remove</a>
    </td>

</tr>
<script>
    $(document).ready(function () {
        let table = $('#productTable').DataTable();
        $("#removeProduct-{{ product.id }}").click(function () {
            $.ajax({
                url: "{% url 'main:manageCart' %}",
                type: "POST",
                data: {
                    "id": "{{ product.id }}",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                cache: false,
                dataType: "json",
                success: function () {
                    var oldPrice = $("#totalPrice").html();
                    var currPrice = "{{ product.price }}";
                    var price;
                    "{% if request.user.points == 10 %}"
                    price = currPrice * 0.9;
                    "{% endif %}"
                    $("#totalPrice").html((parseFloat(oldPrice) - parseFloat(price)).toFixed(2) + " HRK | " + ((parseFloat(oldPrice) - parseFloat(price)) / 7.5345).toFixed(2) + " EUR");
                    $("#totalCartPrice").html((parseFloat(oldPrice) - parseFloat(price)).toFixed(2) + " HRK<br>" + ((parseFloat(oldPrice) - parseFloat(price)) / 7.5345).toFixed(2) + " EUR");
                    table.row("#productRow-{{ product.id }}").remove().draw();
                    table.draw();

                }
            });
        });
    });
</script>